/* components/home/domaines-section/styles/DomainesSection.module.css */

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2.5rem;
  background-color: hsl(var(--section-bg-2));
}

.container {
  width: 100%;
  max-width: 76%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.titleContainer {
  text-align: center;
  margin-bottom: 0.25rem;
}

/* Media queries pour s'adapter aux différentes tailles d'écran */
@media (max-width: 640px) {
  .section {
    padding: 2rem 0;
  }
  
  .container {
    max-width: 86%;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .section {
    padding: 2.5rem 0;
  }
  
  .container {
    max-width: 86%;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .section {
    padding: 3rem 0;
  }
  
  .container {
    max-width: 82%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 82%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 76%;
  }
}